force-app/main/default/flows/FinDock_Labs_Virtual_MOTO_Terminal_on_Person_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>ProcessCreditCard</name>
        <choiceText>Process Credit Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </choices>
    <description>Use the FinDock Virtual Terminal to process a credit card donation from a Person Account.</description>
    <environments>Default</environments>
    <interviewLabel>FinDock Labs: Virtual (MOTO) Terminal on Person Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FinDock Labs: Virtual (MOTO) Terminal on Person Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Ceate Gift Transaction with the recordId passed through from Person Account, amount input by User, and due date set to current date. Set Gift Transaction as &quot;Pending&quot; so FinDock will create an open Installment to be Paid on the final screen.</description>
        <name>createGiftTransaction</name>
        <label>createGiftTransaction</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>takePayment</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>lookupCampaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DonorId</field>
            <value>
                <elementReference>varRec_DonorPersonAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>text_GiftTransactionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalAmount</field>
            <value>
                <elementReference>Donation_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDueDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>get the Gift Transaction that was just created so that the confirmation screen displays Name.</description>
        <name>getGiftTransaction</name>
        <label>getGiftTransaction</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenConfirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createGiftTransaction</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GiftTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screenAmount</name>
        <label>Process Donation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createGiftTransaction</targetReference>
        </connector>
        <fields>
            <name>ProcessDonation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create Gift Transaction &amp;amp; Process Credit Card&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenAmount_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenAmount_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Donation_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Donation Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screenAmount_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screenAmount_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screenAmount_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenAmount_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lookupCampaign</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CampaignId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Campaign</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GiftTransaction</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screenAmount_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenConfirmation</name>
        <label>screenConfirmation</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayConfirmation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;{!getGiftTransaction.Name} &lt;/em&gt;was created and payment has been processed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>takePayment</name>
        <label>Take Payment</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getGiftTransaction</targetReference>
        </connector>
        <fields>
            <name>takePayment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>takePayment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayGiftInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Donor: &lt;/strong&gt;{!varRec_DonorPersonAccount.FirstName} {!varRec_DonorPersonAccount.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Campaign: &lt;/strong&gt;{!lookupCampaign.recordName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Amount:&lt;/strong&gt; {!Donation_Amount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>takePayment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>findockMOTO</name>
            <extensionName>cpm:findockPayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>{!createGiftTransaction}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>save_card_one_time</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processor</name>
                <value>
                    <stringValue>PaymentHub-Stripe</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>target</name>
                <value>
                    <stringValue>Stripe</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screenAmount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_GiftTransactionLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;https://&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Organization}&lt;/span&gt;.develop.lightning.force.com/lightning/r/GiftTransaction/{!getGiftTransaction.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>text_GiftTransactionName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varRec_DonorPersonAccount.LastName}, {!varRec_DonorPersonAccount.FirstName} - ${!Donation_Amount}</text>
    </textTemplates>
    <variables>
        <name>varRec_DonorPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
